# dependencies
node_modules/

# production
dist/
build/

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# cache
.cache/
coverage/

# misc
*.local